<app-admin-navbar></app-admin-navbar>
<main class="product-page">
    <section class="mt-32 h-20">
        <div class="absolute top-0 w-full h-full bg-center bg-cover">
            <span id="blackOverlay" class="w-full h-full absolute opacity-50 "></span>
        </div>

    </section>
    <section class="relative py-16 ">
        <div class="container mx-auto px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-red-900 w-full mb-6 shadow-xl rounded-lg -mt-64">
                <div class="px-6">
                    <div class="flex flex-wrap justify-center">
                        <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
                            <div class="relative">
                                <img alt="..." src="assets/img/perfilee.jpg" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px" />
                            </div>

                        </div>

                        <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
                            <div class="py-6 px-3 mt-32 sm:mt-0">
                                <div class="flex flex-wrap justify-end ">

                                    <!------------------------------------------------------------------------------<BOTONES>----------------------------------------------------------------------------->

                                    <!------------------------------------------------------------------------------</BOTONES>----------------------------------------------------------------------------->



                                    <!-----------------------------------------------------------------------------<BOTON EDITAR>----------------------------------------------------------------------------->



                                </div>
                            </div>
                        </div>


                        <div class="w-full lg:w-4/12 px-4 lg:order-1">

                        </div>
                    </div>
                    <div class="text-center mt-12">
                        <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-100 mb-2">
                            {{user.nombre}} {{user.apellido}}
                        </h3>
                        <div class="mb-2 text-blueGray-100 font-semibold mt-10">
                            <i class="fas fa-circle mr-2 text-lg text-blueGray-100"></i> Email: {{user.email}}
                        </div>
                        <div class="mb-2 text-blueGray-100 font-semibold mt-10">
                            <i class="fas fa-circle mr-2 text-lg text-blueGray-100"></i> Rol: {{user.id_rol}}
                        </div>

                    </div>
                    <div class="mt-10 py-10 border-t border-red-700 text-center">
                        <div class="flex flex-wrap justify-center">
                            <div class="w-full lg:w-9/12 px-4">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>