<footer class="relative bg-blueGray-800 pt-8 pb-6">

    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-center lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-3xl font-semibold text-blueGray-100">Contáctenos!</h4>
                <br>
                <p class="text-base mt-0 mb-2 text-blueGray-100">
                    -carlosveralopez2012@gmail.com <br>-jorgerocamorabas@gmail.com
                </p>
                <div class="mt-6 lg:mb-0 mb-6">
                    <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-twitter"></i>
          </button>
                    <button class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-facebook-square"></i>
          </button>
                    <button class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-dribbble"></i>
          </button>
                    <button class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <i class="fab fa-github"></i>
          </button>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div class="w-full lg:w-4/12 px-4 ml-auto">
                        <span class="block uppercase text-blueGray-100 text-sm font-semibold mb-2">
              Enlaces de ayuda
            </span>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-blueGray-100 hover:text-white block pb-2 text-sm">
                  Sobre nosotros
                </a>
                            </li>
                            <li>
                                <a class="text-blueGray-100 hover:text-white  block pb-2 text-sm">
                  Blog
                </a>
                            </li>
                            <li>
                                <a class="text-blueGray-100 hover:text-white block pb-2 text-sm">
                  Github
                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-full lg:w-4/12 px-4">
                        <span class="block uppercase text-blueGray-100 text-sm font-semibold mb-2">
              Telefono de Contacto
            </span>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-blueGray-100 hover:text-white  block pb-2 text-sm">
                  651679208
                </a>
                            </li>
                            <li>
                                <a class="text-blueGray-100 hover:text-white  block pb-2 text-sm">
                  609799520
                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-blueGray-300" />
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-sm text-blueGray-500 font-semibold py-1">

                    <a class="text-blueGray-500 hover:text-blueGray-800">

                    </a>
                    .
                </div>
            </div>
        </div>
    </div>
</footer>